# Sequencing Sodoku Quizzes & Solutions

In [1]:
import sys
import pandas as pd
import numpy as np
sys.path.append("..")

In [2]:
path = "../sudoku_data/"
data = pd.read_csv(path+"sudoku_1_mio.csv")
display(data)

,quizzes,solutions
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...
...,...,...
999995,3000280000290000300054001077402030980086070031...,3175289464291768356854391277462135989586472131...
999996,0030006000040860057000009409350407208067200502...,5234976811942863757685139429356417288167294532...
999997,0003508200618040300500090000700600029030070100...,7493568212618745393582197468749613529235876146...
999998,0702006900030400010000650205600300000947005800...,4752816936239478511893657245628341793947165828...
999999,3004016201000804000050208300578000000007005030...,3984716251263854797456298316578139429147625838...

In [ ]:
column_names = []
for prefix in ("Q","S"):
    for row_num in range(1,10):
        for col_num in ["A","B","C","D","E","F","G","H","I"] :
            column_names.append(prefix+str(row_num)+col_num)

In [ ]:
data[column_names[:81]]= data["quizzes"].apply(lambda x : pd.Series(int(i) for i in str(x)))
data[column_names[81:]]= data["solutions"].apply(lambda x : pd.Series(int(i) for i in str(x)))
data[column_names].to_csv(path+"sudoku_1_mio_sequenced_columns.csv",index=False)