# Flight Data Fusion

In [1]:
import sys
sys.path.append("..")
# Spark libs
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import col, expr
from pyspark.sql.types import TimestampType
# helpers
from helpers.data_prep_and_print import print_df
from helpers.path_translation import translate_to_file_string

### Input Files

In [2]:
input_file_aaa = translate_to_file_string("../data/2011-12-01-dataaa.csv")
input_file_airtravelcenter = translate_to_file_string("../data/2011-12-01-dataairtravelcenter.csv")
input_file_dfw = translate_to_file_string("../data/2011-12-01-datadfw.csv")

### Spark Session Creation

In [3]:
spark = (SparkSession
       .builder
       .appName("Flight Data Fusion")
       .getOrCreate())
spark.sparkContext.setLogLevel("ERROR")

### Open the files in data frames

In [4]:
dfaaa = spark.read.option("header", "true") \
       .option("inferSchema", "true") \
       .option("delimiter", ";") \
       .csv(input_file_aaa)
dfatc = spark.read.option("header", "true") \
       .option("inferSchema", "true") \
       .option("delimiter", ";") \
       .csv(input_file_airtravelcenter)
dfdfw = spark.read.option("header", "true") \
       .option("inferSchema", "true") \
       .option("delimiter", ";") \
       .csv(input_file_dfw) \
       .withColumn("depact", expr("depact").cast(TimestampType())) \
       .withColumn("arrivalact", expr("arrivalact").cast(TimestampType()))

### Union all Dataframes

In [6]:
# TODO combine the dataframes

## Data Structure for each dataframe
print(dfaaa.printSchema())
print(dfatc.printSchema())
print(dfdfw.printSchema())
### Same structure everywhere -> Join dataframes -> append

## append data frames

df_all = dfaaa.union(dfatc).union(dfdfw)
df_all.show()

root
 |-- website: string (nullable = true)
 |-- flightno: string (nullable = true)
 |-- depsched: timestamp (nullable = true)
 |-- depact: timestamp (nullable = true)
 |-- depgate: string (nullable = true)
 |-- arrivalsched: timestamp (nullable = true)
 |-- arrivalact: timestamp (nullable = true)
 |-- arrivalgat: string (nullable = true)

None
root
 |-- website: string (nullable = true)
 |-- flightno: string (nullable = true)
 |-- depsched: timestamp (nullable = true)
 |-- depact: timestamp (nullable = true)
 |-- depgate: string (nullable = true)
 |-- arrivalsched: timestamp (nullable = true)
 |-- arrivalact: timestamp (nullable = true)
 |-- arrivalgat: string (nullable = true)

None
root
 |-- website: string (nullable = true)
 |-- flightno: string (nullable = true)
 |-- depsched: timestamp (nullable = true)
 |-- depact: timestamp (nullable = true)
 |-- depgate: string (nullable = true)
 |-- arrivalsched: timestamp (nullable = true)
 |-- arrivalact: timestamp (nullable = true)
 |-- arrivalgat: string (nullable = true)

None
+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
|website|       flightno|           depsched|             depact|depgate|       arrivalsched|         arrivalact|arrivalgat|
+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
|     aa|AA-1007-TPA-MIA|2011-12-01 13:55:00|2011-12-01 14:07:00|    F78|2011-12-01 15:00:00|2011-12-01 14:57:00|        D5|
|     aa|AA-1518-DFW-SDF|2011-12-01 12:10:00|2011-12-01 12:17:00|    C20|2011-12-01 15:10:00|2011-12-01 14:57:00|       A15|
|     aa| AA-185-JFK-LAX|2011-12-01 21:00:00|               NULL|     46|2011-12-02 00:23:00|               NULL|       47B|
|     aa|AA-3592-MIA-CLE|2011-12-01 15:15:00|2011-12-01 15:25:00|    D60|2011-12-01 18:10:00|2011-12-01 18:20:00|        A3|
|     aa| AA-393-DFW-DEN|2011-12-01 06:55:00|2011-12-01 07:06:00|    C37|2011-12-01 07:55:00|2011-12-01 07:55:00|       A49|
|     aa|AA-3508-ATL-MIA|2011-12-01 19:40:00|2011-12-01 19:57:00|    T10|2011-12-01 21:40:00|2011-12-01 21:22:00|       D53|
|     aa| AA-637-ORD-LAX|2011-12-01 16:40:00|2011-12-01 16:56:00|     K5|2011-12-01 19:10:00|               NULL|        41|
|     aa| AA-649-ORD-SNA|2011-12-01 13:30:00|               NULL|    H10|2011-12-01 15:50:00|               NULL|         7|
|     aa| AA-463-ORF-DFW|2011-12-01 06:30:00|2011-12-01 06:32:00|    B17|2011-12-01 09:10:00|2011-12-01 08:26:00|        C2|
|     aa|AA-3921-MEM-ORD|2011-12-01 17:20:00|2011-12-01 17:27:00|   C12A|2011-12-01 19:30:00|2011-12-01 18:50:00|       G6A|
|     aa|AA-1538-DFW-MCO|2011-12-01 20:40:00|2011-12-01 21:25:00|    D25|2011-12-02 23:55:00|               NULL|        16|
|     aa|AA-1367-ATL-DFW|2011-12-01 16:26:00|               NULL|    T12|2011-12-01 17:56:00|               NULL|       C19|
|     aa|AA-1593-MCO-MIA|2011-12-01 12:05:00|2011-12-01 12:17:00|     16|2011-12-01 13:05:00|2011-12-01 12:58:00|        D2|
|     aa| AA-821-JFK-FLL|2011-12-01 15:45:00|2011-12-01 16:23:00|     43|2011-12-01 19:05:00|2011-12-01 18:56:00|        E4|
|     aa|AA-3536-CLT-MIA|2011-12-01 16:40:00|2011-12-01 16:57:00|     A9|2011-12-01 18:50:00|2011-12-01 18:34:00|       D60|
|     aa|AA-1294-IAH-MIA|2011-12-01 17:35:00|2011-12-01 17:48:00|    A27|2011-12-01 21:00:00|2011-12-01 20:58:00|        D4|
|     aa|AA-2435-ORD-PHX|2011-12-01 12:40:00|2011-12-01 13:29:00|     H6|2011-12-01 15:25:00|2011-12-01 16:09:00|         6|
|     aa|AA-3063-SLC-LAX|2011-12-01 20:20:00|2011-12-01 20:39:00|     A3|2011-12-01 21:20:00|               NULL|       44I|
|     aa|AA-2238-DFW-CLT|2011-12-01 17:10:00|2011-12-01 17:33:00|     C8|2011-12-01 20:25:00|2011-12-01 20:37:00|        A9|
|     aa| AA-222-LAX-BOS|2011-12-01 07:10:00|2011-12-01 07:31:00|    47A|2011-12-01 15:30:00|2011-12-01 15:14:00|       B36|
+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
only showing top 20 rows

### Remove Duplicates

In [26]:
# TODO Remove duplicates

# droped_df = df_all.dropDuplicates(['flightno', 'depsched'])
droped_df = df_all.dropDuplicates(['flightno'])
droped_df.show()

+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
|website|       flightno|           depsched|             depact|depgate|       arrivalsched|         arrivalact|arrivalgat|
+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
|     aa|  AA-10-LAX-JFK|2011-12-01 21:20:00|               NULL|    47B|2011-12-02 05:30:00|               NULL|        42|
|     aa|AA-1007-MIA-PHX|2011-12-01 16:55:00|2011-12-01 17:08:00|     D5|2011-12-01 20:05:00|2011-12-01 19:55:00|         4|
|     aa|AA-1007-TPA-MIA|2011-12-01 13:55:00|2011-12-01 14:07:00|    F78|2011-12-01 15:00:00|2011-12-01 14:57:00|        D5|
|     aa|AA-1011-MIA-GCM|2011-12-01 19:15:00|2011-12-01 19:29:00|    D17|2011-12-01 20:40:00|2011-12-01 20:36:00|      NULL|
|     aa|AA-1039-ATL-MIA|2011-12-01 13:25:00|2011-12-01 13:46:00|    T11|2011-12-01 15:20:00|2011-12-01 15:14:00|       D48|
|     aa|AA-1044-DFW-CMH|2011-12-01 10:10:00|2011-12-01 10:16:00|    C33|2011-12-01 13:25:00|2011-12-01 13:17:00|       B34|
|     aa|AA-1047-MCO-MIA|2011-12-01 08:45:00|2011-12-01 08:48:00|     15|2011-12-01 09:50:00|2011-12-01 09:31:00|       D48|
|     aa|AA-1047-MIA-AUA|2011-12-01 11:10:00|2011-12-01 11:35:00|     D6|2011-12-01 14:50:00|2011-12-01 14:48:00|         8|
|     aa|AA-1048-MIA-IAD|2011-12-01 20:30:00|               NULL|     E9|2011-12-01 22:55:00|               NULL|      NULL|
|     aa|AA-1063-BWI-DFW|2011-12-01 07:05:00|2011-12-01 07:26:00|     C8|2011-12-01 09:45:00|2011-12-01 09:22:00|       C27|
|     aa|AA-1063-DFW-SNA|2011-12-01 10:40:00|2011-12-01 10:54:00|    C27|2011-12-01 11:55:00|               NULL|         7|
|     aa|AA-1066-DFW-DCA|2011-12-01 10:30:00|2011-12-01 10:43:00|    D38|2011-12-01 14:10:00|2011-12-01 14:15:00|        28|
|     aa|AA-1066-MEX-DFW|2011-12-01 06:05:00|2011-12-01 06:23:00|     20|2011-12-01 08:50:00|2011-12-01 08:47:00|       D38|
|     aa|AA-1077-DFW-SFO|2011-12-01 07:45:00|2011-12-01 08:06:00|    C35|2011-12-01 09:30:00|2011-12-01 09:21:00|        55|
|     aa|AA-1081-BOS-ORD|2011-12-01 19:35:00|2011-12-01 19:43:00|    B35|2011-12-01 21:20:00|2011-12-01 21:09:00|        H8|
|     aa|AA-1084-DFW-FLL|2011-12-01 19:30:00|2011-12-01 20:12:00|    D31|2011-12-01 23:05:00|2011-12-01 23:27:00|        E2|
|     aa|AA-1092-LAX-ORD|2011-12-01 23:20:00|               NULL|    46A|2011-12-02 05:15:00|               NULL|       H15|
|     aa|AA-1106-DFW-OKC|2011-12-01 21:25:00|               NULL|    C12|2011-12-01 22:15:00|               NULL|         4|
|     aa|AA-1125-DFW-PVR|2011-12-01 12:15:00|2011-12-01 17:30:00|    D34|2011-12-01 14:55:00|2011-12-01 19:56:00|      NULL|
|     aa|AA-1125-MSP-DFW|2011-12-01 08:30:00|2011-12-01 09:06:00|    E16|2011-12-01 11:15:00|2011-12-01 11:27:00|       D34|
+-------+---------------+-------------------+-------------------+-------+-------------------+-------------------+----------+
only showing top 20 rows

### Aggregation of the instances

In [ ]:
# TODO make useful data fusions

## figure out which data set is most complete / has the least null-data in each column
Dict_Null_aaa = {col:dfaaa.filter(dfaaa[col].isNull()).count() for col in dfaaa.columns}
print(Dict_Null_aaa)

Dict_Null_atc = {col:dfatc.filter(dfatc[col].isNull()).count() for col in dfatc.columns}
print(Dict_Null_atc)

Dict_Null_dfw = {col:dfdfw.filter(dfdfw[col].isNull()).count() for col in dfdfw.columns}
print(Dict_Null_dfw)

{'website': 0, 'flightno': 0, 'depsched': 0, 'depact': 47, 'depgate': 3, 'arrivalsched': 0, 'arrivalact': 87, 'arrivalgat': 14}
{'website': 0, 'flightno': 0, 'depsched': 736, 'depact': 473, 'depgate': 1209, 'arrivalsched': 736, 'arrivalact': 473, 'arrivalgat': 1209}
{'website': 0, 'flightno': 0, 'depsched': 24, 'depact': 72, 'depgate': 24, 'arrivalsched': 48, 'arrivalact': 72, 'arrivalgat': 48}

In [25]:
## fill nan based on flightno and depsched

df_all.groupby(['flightno']).count().show()

+---------------+-----+
|       flightno|count|
+---------------+-----+
|AA-4180-ORD-CLT|    2|
|AA-2495-BDL-DFW|    3|
|AA-2493-DFW-LAX|    3|
|AA-4388-ORD-DTW|    2|
|AA-4064-ORD-CLE|    2|
|AA-2049-DFW-DEN|    2|
|AA-4010-CLT-ORD|    2|
|AA-1775-ORD-LAS|    2|
|AA-1201-ORD-STL|    2|
| AA-692-MIA-EWR|    2|
|AA-3804-PHL-ORD|    2|
|AA-1687-MIA-SJU|    2|
|AA-1044-DFW-CMH|    3|
|AA-3823-LAX-DEN|    2|
|  AA-75-IAD-LAX|    2|
|  AA-18-SFO-JFK|    2|
| AA-202-LAX-MIA|    2|
|AA-3739-ORD-EWR|    2|
|AA-3533-MIA-CLT|    2|
|AA-4310-CLT-ORD|    2|
+---------------+-----+
only showing top 20 rows

In [ ]:
spark.stop()