# Build Features on the Sales Dataset in Spark

In [1]:
import sys
sys.path.append("..")
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import col, row_number   
from pyspark.ml.feature import StringIndexer, VectorAssembler

## Select the churn file

In [2]:
inputFile = "hdfs:///data/sales.csv"

## Create the Spark Session

In [3]:
#create a SparkSession
spark = SparkSession \
       .builder \
       .master("yarn") \
       .appName("SalesFeatureEngineering") \
       .getOrCreate()
# create a DataFrame using an inferred Schema 
df = spark.read.option("header", "true") \
       .option("inferSchema", "true") \
       .option("delimiter", ",") \
       .csv(inputFile)

## Data Preparation
### Build new features from existing ones

In [4]:
df.printSchema()

df_window = Window.orderBy(col("sales").desc())
result_df = df.withColumn("salesrank", row_number().over(df_window))
result_df.show()
division_indexer = StringIndexer().setInputCol("division").setOutputCol("division_num").fit(result_df)
education_indexer = StringIndexer().setInputCol("level of education").setOutputCol("education_num").fit(result_df)

root
 |-- division: string (nullable = true)
 |-- level of education: string (nullable = true)
 |-- training level: integer (nullable = true)
 |-- work experience: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- sales: integer (nullable = true)

+-----------------+------------------+--------------+---------------+------+------+---------+
|         division|level of education|training level|work experience|salary| sales|salesrank|
+-----------------+------------------+--------------+---------------+------+------+---------+
|         printers| bachelor's degree|             2|             14|136385|663851|        1|
|         printers|      some college|             3|             13|130663|655722|        2|
|  office supplies| bachelor's degree|             3|             13|143317|637779|        3|
|  office supplies|      some college|             3|             12|130435|632053|        4|
|      peripherals|      some college|             2|             12|125518|627682|        5|
|         printers|       high school|             3|             11|113454|614540|        6|
|  office supplies|       high school|             3|             12|115452|614524|        7|
|computer hardware|      some college|             3|             11|126367|605214|        8|
|  office supplies|      some college|             3|             10|118064|599514|        9|
|  office supplies|      some college|             3|             12|122180|596691|       10|
|  office supplies| bachelor's degree|             3|             12|127197|594689|       11|
|  office supplies|associate's degree|             3|             10|117901|593555|       12|
|  office supplies|associate's degree|             2|             11|122539|586539|       13|
|computer software|      some college|             3|              9|134792|581055|       14|
|  office supplies|associate's degree|             2|             12|128071|579509|       15|
|         printers|      some college|             3|             10|111732|577323|       16|
|computer hardware|      some college|             1|             14|127584|571049|       17|
|  office supplies|       high school|             2|             11|109324|570548|       18|
|  office supplies|associate's degree|             3|             11|116991|569914|       19|
|computer hardware|       high school|             1|             14|119876|568760|       20|
+-----------------+------------------+--------------+---------------+------+------+---------+
only showing top 20 rows

 ### Build the feature vector

In [5]:
featureCols = result_df.columns.copy()
featureCols.remove("division")
featureCols.remove("level of education")
featureCols.remove("sales")
print(featureCols)

['training level', 'work experience', 'salary', 'salesrank']

### Build the feature Vector Assembler

In [6]:
assembler =  VectorAssembler(outputCol="features", inputCols=list(featureCols))

## Do the Data Preparation

In [7]:

indexed_data = education_indexer.transform(division_indexer.transform(result_df))
labeledPointData = assembler.transform(indexed_data)
labeledPointData.show()

+-----------------+------------------+--------------+---------------+------+------+---------+------------+-------------+--------------------+
|         division|level of education|training level|work experience|salary| sales|salesrank|division_num|education_num|            features|
+-----------------+------------------+--------------+---------------+------+------+---------+------------+-------------+--------------------+
|         printers| bachelor's degree|             2|             14|136385|663851|        1|         0.0|          3.0|[2.0,14.0,136385....|
|         printers|      some college|             3|             13|130663|655722|        2|         0.0|          0.0|[3.0,13.0,130663....|
|  office supplies| bachelor's degree|             3|             13|143317|637779|        3|         1.0|          3.0|[3.0,13.0,143317....|
|  office supplies|      some college|             3|             12|130435|632053|        4|         1.0|          0.0|[3.0,12.0,130435....|
|      peripherals|      some college|             2|             12|125518|627682|        5|         2.0|          0.0|[2.0,12.0,125518....|
|         printers|       high school|             3|             11|113454|614540|        6|         0.0|          2.0|[3.0,11.0,113454....|
|  office supplies|       high school|             3|             12|115452|614524|        7|         1.0|          2.0|[3.0,12.0,115452....|
|computer hardware|      some college|             3|             11|126367|605214|        8|         3.0|          0.0|[3.0,11.0,126367....|
|  office supplies|      some college|             3|             10|118064|599514|        9|         1.0|          0.0|[3.0,10.0,118064....|
|  office supplies|      some college|             3|             12|122180|596691|       10|         1.0|          0.0|[3.0,12.0,122180....|
|  office supplies| bachelor's degree|             3|             12|127197|594689|       11|         1.0|          3.0|[3.0,12.0,127197....|
|  office supplies|associate's degree|             3|             10|117901|593555|       12|         1.0|          1.0|[3.0,10.0,117901....|
|  office supplies|associate's degree|             2|             11|122539|586539|       13|         1.0|          1.0|[2.0,11.0,122539....|
|computer software|      some college|             3|              9|134792|581055|       14|         4.0|          0.0|[3.0,9.0,134792.0...|
|  office supplies|associate's degree|             2|             12|128071|579509|       15|         1.0|          1.0|[2.0,12.0,128071....|
|         printers|      some college|             3|             10|111732|577323|       16|         0.0|          0.0|[3.0,10.0,111732....|
|computer hardware|      some college|             1|             14|127584|571049|       17|         3.0|          0.0|[1.0,14.0,127584....|
|  office supplies|       high school|             2|             11|109324|570548|       18|         1.0|          2.0|[2.0,11.0,109324....|
|  office supplies|associate's degree|             3|             11|116991|569914|       19|         1.0|          1.0|[3.0,11.0,116991....|
|computer hardware|       high school|             1|             14|119876|568760|       20|         3.0|          2.0|[1.0,14.0,119876....|
+-----------------+------------------+--------------+---------------+------+------+---------+------------+-------------+--------------------+
only showing top 20 rows

In [8]:
spark.stop()